@charset "utf-8";
.lt_bn {position:relative;}
.lt_bn li{position:relative;text-align:center;}
.lt_bn img{width:100%;height:auto;vertical-align:top}
.lt_bn .bn_txt{width:100%;z-index:2;position:absolute;text-align:left; top:50%;left:0;
-webkit-transform: translateY(-50%);
-ms-transform : translateY(-50%);
transform: translateY(-50%);}
.lt_bn .txt_wr{max-width:1280px;margin:0 auto;padding:0 3%}

.lt_bn li .bn_tit{display:block;max-width:500px;font-size:4em;font-weight:600; line-height:1.4em;color:#000;word-break:keep-all}
.lt_bn li .bn_detail{font-size:4em;margin:0 ;color:#000;font-weight:600}
.lt_bn li .bn_view {display:inline-block;background:none;color:#4ad1d4;border:2px solid #4ad1d4;padding:0 25px;line-height:45px;border-radius:30px;
;transition: 0.3s all ease-in-out;
-webkit-transition: 0.3s all ease-in-out;
-moz-transition: 0.3s all ease-in-out;
-o-transition: 0.3s all ease-in-out;
-ms-transition: 0.3s all ease-in-out}
.lt_bn li .bn_view:hover{background:#4ad1d4;color:#fff}

.arrow{position: relative; display: inline-block;vertical-align: middle;transform: rotate(45deg);box-sizing: border-box;width: 11px;height: 11px; border-width: 2px 2px 0 0; border-style: solid;margin-left: 25px;}
.arrow:before {right: 0; top: -1px; position: absolute; height: 2px; box-shadow: inset 0 0 0 32px; width: 18px;
-webkit-transform: rotate(-45deg);transform: rotate(-45deg);
-webkit-transform-origin: right top;}
.arrow:after,.arrow:before {content: "";box-sizing: border-box;}
.lt_bn .bx-prev{position:absolute;top:50%;left:0;width:50px;height:50px;margin-top:-25px;opacity:0.5;text-indent:-999px;overflow:hidden;background:url(prev.png) no-repeat 50% 50%  rgba(0,0,0,0.1)}
.lt_bn .bx-next{position:absolute;top:50%;right:0;width:50px;height:50px;margin-top:-25px;opacity:0.5;text-indent:-999px;overflow:hidden;background:url(next.png) no-repeat 50% 50%  rgba(0,0,0,0.1)}
.lt_bn .bx-prev:hover,.lt_bn .bx-next:hover{opacity:1}
.lt_bn .bn_link {display:block;position:absolute;top:10px;right:10px;background:#ff0000;color:#fff;border-radius:50px;width:40px;padding:0;line-height:40px;text-align:center;opacity:0}
.lt_bn:hover .bn_link{opacity:1}

@media (min-width:1280px){
    .lt_bn{top: -180px;}
    .lt_bn li .bn_tit {font-size:3em}
    .lt_bn li .bn_detail{font-size:3em;margin:20px 0}
 }

@media (max-width:1279px){
    .lt_bn li .bn_tit {font-size:3em}
    .lt_bn li .bn_detail{font-size:3em;margin:20px 0}
 }

@media (max-width: 969px){
    .lt_bn li .bn_tit {font-size:2.5em}
    .lt_bn li .bn_detail{font-size:2.5em}
    .lt_bn li .bn_view{line-height:40px;font-size:1em}
    .lt_bn .txt_wr{padding:40px}
 }

@media (max-width: 639px){
    .lt_bn li .bn_tit {font-size:1.8em;width:60%}
    .lt_bn li .bn_view{display:none}
    .lt_bn li .bn_detail{font-size:1.8em;}
    .lt_bn .bx-prev,.lt_bn .bx-next{width:36px;height:36px;margin-top:-18px;background-size:25%}
}
