@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.lt {position:relative;padding:15px 10px ;}
.lt ul {margin:20px 0 0 ;padding:0;list-style:none;}
.lt li {position:relative;padding:0 0 0 10px;line-height:28px;font-size:1.077em;}
.lt li:before{content: ''; width: 3px;height: 3px;background: #5166d8;position: absolute;  top: 50%;left: 0;margin-top: -1px;}
.lt .fa-download{width:16px;height:16px;line-height:16px;background:#e89f31;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;}
.lt .fa-link{width:16px;height:16px;line-height:16px;background:#ad68d8;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;font-weight: normal;}
.lt .fa-heart{width:16px;height:16px;line-height:16px;background:#ff66b0;color:#fff;text-align:center;font-size:10px;border-radius:4px;vertical-align:middle;;font-weight: normal;}
.lt .new_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#ffff00;background:#6db142;border-radius:4px;text-align:center;vertical-align:middle;font-size:11px}
.lt .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#fff;background:#e52955;;border-radius:4pxtext-align:center;;vertical-align:middle;font-weight:normal;font-size:11px}
.lt .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #fff;background: #262b88;text-align: center;border-radius: 4px;font-size: 12px;border:1px solid #262b88}

 @media (max-width: 969px){
    .lt {padding:20px}
 }
